
body {
    background-color: $color-1 !important;
    height: 100%;
    width: 100%;
    color: $color-white;
    h7, p{
        @include center-block(1.5rem);
        text-align: center;
        position: relative;
        top: -8.5rem;
    }
}