// Brand Colors
$color-1 : #1e1c1e;
$color-2 : #eeeeee;
$color-3 : #eeeeee;
$color-4 : #eeeeee;
$color-5 : #eeeeee;
$color-6 : #eeeeee;
$color-7 : #eeeeee;
$color-8 : #eeeeee;
// Neutrals
$color-gray-1: #efefef;
$color-gray-2: #dddddd;
$color-gray-3: #cccccc;
$color-gray-4: #bbbbbb;
$color-gray-5: #aaaaaa;
$color-gray-6: #666666;
$color-gray-7: #777777;
$color-gray-8: #888888;
$color-white: #efefef;
$color-black: #333333;
// Breakpoints 
$mobile:  480px;
$tablet: 768px;
$desktop: 992px;
$destop-xl:  1220px;
$desktop-2xl: 1400px;
// Fonts 
$font-primary: Muli;
$font-secondary: Montserrat;
$font-default: sans-serif; 
$h1: 5.5rem;
$h2: 4.5rem;
$h3: 3.5rem;
$h4: 3rem;
$h5: 2.5rem;
$h6: 2rem;
$h7: 1.8rem;
$p: 1.4rem;
